


html {
	font-family: 'Montserrat', sans-serif;
}


#our-history, #home {
	width: 100%;
	margin: 0 auto;
}

#home {
	background-color: #3EA5CE;
	height: 800px;
 
    .couple {
    	width: 400px;
		margin: 0 auto;
		padding-top: 350px;
		text-align: center;
		
	    h1 {
	    	color: #FFF;
	    	font-size: 52px;
	    	line-height: 0;
	    	font-weight: 400;
	    }

	    span {
	    	color: #DBDBDB;
	    	font-size: 20px;
	    	letter-spacing: 2px;
	    }
    }
}

#our-history {
	background-color: #EFEFEF;
	height: 1800px;
	
    .history-wrapper {
    	width: 1024px;
		margin: 0 auto;
		padding: 5px;
    }
}