@font-face {
	font-family: 'flower-wedding';
	src:url('../fonts/flower-wedding.eot');
	src:url('../fonts/flower-wedding.eot?#iefix') format('embedded-opentype'),
		url('../fonts/flower-wedding.woff') format('woff'),
		url('../fonts/flower-wedding.ttf') format('truetype'),
		url('../fonts/flower-wedding.svg#flower-wedding') format('svg');
	font-weight: normal;
	font-style: normal;
}



/*
==============================================
hatch animation
==============================================
*/

.hatch{
	animation-name: hatch;
	-webkit-animation-name: hatch;	

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 

	visibility: visible !important;		
}

@keyframes hatch {
	0% {
		transform: rotate(0deg) scaleY(0.6);
	}
	20% {
		transform: rotate(-2deg) scaleY(1.05);
	}
	35% {
		transform: rotate(2deg) scaleY(1);
	}
	50% {
		transform: rotate(-2deg);
	}	
	65% {
		transform: rotate(1deg);
	}	
	80% {
		transform: rotate(-1deg);
	}		
	100% {
		transform: rotate(0deg);
	}									
}

@-webkit-keyframes hatch {
	0% {
		-webkit-transform: rotate(0deg) scaleY(0.6);
	}
	20% {
		-webkit-transform: rotate(-2deg) scaleY(1.05);
	}
	35% {
		-webkit-transform: rotate(2deg) scaleY(1);
	}
	50% {
		-webkit-transform: rotate(-2deg);
	}	
	65% {
		-webkit-transform: rotate(1deg);
	}	
	80% {
		-webkit-transform: rotate(-1deg);
	}		
	100% {
		-webkit-transform: rotate(0deg);
	}		
}


html {
	font-family: 'Montserrat', sans-serif;
	background-color: #A9D636;
}

.navbar {
	height: 50px;
	text-align: right;
	position: fixed;
	width: 100%;
	min-width: 1240px;
	z-index: 500;
	bottom: 10px;
	
	nav {
		width: 800px;
		margin: 0 auto;
		margin-top: 7px;
		text-align: center;
		
		a {
			display: inline;
			color: #FFF;
			text-decoration: none;
			text-transform: uppercase;
			margin: 10px 2px;
			background-color: #000;
			padding: 10px 15px;
			border-bottom: 2px solid #555;
		}
	}
}

#our-history, #home {
	width: 100%;
	margin: 0 auto;
	padding-top: 70px;
}

.container {
	width: 100%;
	margin: 0 auto;

	h3 {
		font-size: 50px;
		color: #367419;
		line-height: 1;
	}

	#our-history,
	#map,
	#pictures,
	#gifts,
	#comments {
			span {
			font-family: 'Amatic SC', cursive;
			font-size: 33px;
			font-weight: 700;
			letter-spacing: 1px;
			color: #C61EAF;
		}
	}

	#home {
		background: #ff84ae; /* Old browsers */
		background: -moz-linear-gradient(left,  #ff84ae 0%, #ff84ae 50%, #3ea5ce 50%, #3ea5ce 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff84ae), color-stop(50%,#ff84ae), color-stop(50%,#3ea5ce), color-stop(100%,#3ea5ce)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #ff84ae 0%,#ff84ae 50%,#3ea5ce 50%,#3ea5ce 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #ff84ae 0%,#ff84ae 50%,#3ea5ce 50%,#3ea5ce 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #ff84ae 0%,#ff84ae 50%,#3ea5ce 50%,#3ea5ce 100%); /* IE10+ */
		background: linear-gradient(to right,  #ff84ae 0%,#ff84ae 50%,#3ea5ce 50%,#3ea5ce 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff84ae', endColorstr='#3ea5ce',GradientType=1 ); /* IE6-9 */
		height: 900px;
		width: 100%;
		min-width: 1240px;

	    .couple {
				width: 1240px;
				margin: 0 auto;
				text-align: center;
				position: relative;
				bottom: 90px;

			#defaultCountdown {
				color: rgba(0, 0, 0, 0.4);
				margin-top: -42px;
			}

		    h1 {
		    	color: #FFF;
		    	font-size: 60px;
		    	line-height: 0;
		    	font-weight: 400;
		    }

	    	#defaultCountdown:before,
	    	#defaultCountdown:after {
				font-family: 'flower-wedding';
				font-size: 100px;
				content: "eqo ";
				color: rgba(54, 54, 54, 0.5);
				speak: none;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 0.4;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}

	    	#defaultCountdown:before {
				display: block;
				position: relative;
				top: 255px;
				right: 290px;
				}

	    	#defaultCountdown:after {
				content: "y ir";
				display: block;
				position: relative;
				left: 300px;
				top: 160px;
				}

		    div {
		    	width: 500px;
		    	margin: 0 auto;
		    	color: #DBDBDB;
		    	font-size: 20px;
		    }
	    }

		.couple:before,
		.couple:after {
			content: " ";
			display: block;
			margin: 0 auto;
			width: 140px;
			height: 140px;
			background: #FF84AE;
			-moz-border-radius: 70px;
			-webkit-border-radius: 70px;
			border-radius: 70px;
			position: relative;
			top: 320px;
			right: 25px;
			}

		.couple:after {
			background: #3EA5CE;
			top: 135px;
			right: 0;
			left: 30px;
			}

	}

	#our-history {
		background-color: #A9D636;
		padding: 50px 0;
		
	    .history-wrapper {
	    	width: 580px;
			margin: 0 auto;
			padding: 65px;
	    }

		p {
			font-family: 'Merriweather', serif;
			font-size: 22px;
			color: #3F7731;
			line-height: 1.5;
		}

		blockquote {
			font-family: 'Lato', sans-serif;
			font-size: 26px;
			font-weight: 400;
			color: #FFF;
			width: 260px;
			text-align: right;
			display: inline-block;
			margin-left: -120px;
		}

			span {
			display: inline-block;
			width: 290px;
			vertical-align: top;
			height: 120px;
			padding-top: 70px;
			-webkit-transform: rotate(1deg);
			-moz-transform: rotate(1deg);
			-o-transform: rotate(1deg);
			writing-mode: lr-tb;
		}		

		.part-one {
		}

		.part-two {
			blockquote {
				float: right;
				text-align: left;
				margin-right: -110px;
				width: 390px;
			}

			span {
				width: 270px;
				text-align: right;
				-webkit-transform: rotate(-1deg);
				-moz-transform: rotate(-1deg);
				-o-transform: rotate(-1deg);
			}
		}

		.part-three {
			clear: both;
		}
	}

	#map {
		position: relative;
		height: 820px;
		
		.map-wrapper {
			position: absolute;
			right: 0;
			top: 140px;
			
				h3,
				h5,
				span,
				p {
					float: right;
					margin-right: 200px;
				}

				h3,
				h5 {
					color: #FFF;
					line-height: 0;
					margin-top: 0;
					margin-bottom: 30px;
				}

				span,
				h5,
				p {
					clear: right;
					
					.time {
						margin: 0;	    
					}
				}

				span {
					width: 800px;
					text-align: right;
					color: #C2FF00;
					margin-bottom: 10px;
					    
				}

				p {
					width: 500px;
					margin-top: 10px;
					margin-bottom: 0;
					text-align: right;
					font-size: 20px;
				}

				h5 {
					font-size: 24px;
					    
				}

		iframe {
			position: absolute;
			bottom: 165px;
			z-index: 0;
			}
		}
	}
	
	#pictures {
		background-color: #E065D5;
		width: 100%;
		padding: 120px 0;
		height: 860px;

		.picture-wrapper {
			width: 1024px;
			margin: 0 auto;
			margin-top: 110px;
			
			h3,
			span {
				color: white;
			}

			h3 {
				display: inline;
				margin-right: 25px;
			}

			ul {
				margin-top: 50px;
				
				.polaroid {
				    background-color:white;
				    padding: 10px 10px 10px 10px;
				    border: 1px solid #BFBFBF;
				    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.6);
				    width: 265px;
				    display: inline-block;
				    list-style: none;
				    margin: 30px 10px 0;
				}

				.polaroid a {
					font-family: 'Amatic SC', cursive;
					font-size: 33px;
					font-weight: 700;
					letter-spacing: 1px;
					color: #C61EAF;
				}

				.polaroid a:after {
					content: attr(title);
					width: 200px;
					margin: 0 auto;
					display: block;
					text-align: center;
				}

				.polaroid a:over {
					font-size:30px;
				}

			}

		}
	}

	#gifts {
		overflow: hidden;
		background-color: #FFB800;
		height: 900px;
		background-image: url('../img/flor-cris-small.png');
		background-position-x: 0;
		background-position-y: 515px;
		background-repeat: no-repeat;
		
		.gifts-wrapper {
			width: 1024px;
			height: 540px;
			margin: 40px auto;
			padding: 80px 0;
			
			h3 {
				margin: 0;
				color: #C61EAF;
			}

			h4 {
				margin-top: 10px;
				margin-bottom: 0;
				font-size: 20px;
			}

			span {
				color: #45524F;
				font-size: 45px;
			}

			p {
				color: #C61EAF;
				font-size: 25px;
				display: inline-block;
				margin-right: 40px;
				
				span {
					font-family: Courier, monospace;
					font-size: 25px;
				}
			}
		}
	}

	#comments {
		background-color: #C24831;
		height: auto;
		min-height: 840px;
		
		.disqus-wrapper {
			padding-top: 120px;
			width: 800px;
			margin: 0 auto;
			
			h3 {
				margin: 0;
				color: #FFB800;
			}
			
			span {
				color: #FFF;
				margin-bottom: 40px;
				display: block;
			}
		}
	}
}




#avion{
	position: relative;
	top: 0;
	left: -870px;
	overflow: hidden;
	animation-name: fly;
	-webkit-animation-name: fly;	

	animation-duration: 5.5s;	
	-webkit-animation-duration: 5.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes fly {
	0% {
		left: -870px;	
	}
	100% {
		left: 800px;	
	}						
}

@-webkit-keyframes fly {
	0% {
		left: -870px;	
	}
	100% {
		left: 1800px;	
	}		
}
